*{
    padding: 0%;
    margin: 0;
}
body{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1:before{
    content: '';
    position: absolute;
    left: 120%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent  0%, #000 5%, #000 100%);
    animation: animate 5.5s linear forwards;
    animation-delay: 1.8s;
}
@keyframes animate {
    0%{
        left: 110%;
    }
    100%{
        left: -20%;
    }
}
h1{
    position: relative;
    margin: 0;
    font-size: 4em;
    color: white;
    z-index: 1;
    overflow: hidden;
}
h1 span{
    color: #ff2600;
}





h2:before{
    content: '';
    position: absolute;
    left: 0%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent  0%, #000 5%, #000 100%);
    animation: animate2 5.5s linear forwards;
    animation-delay: 0s;
}
@keyframes animate2 {
    0%{
        left: 0%;
    }
    100%{
        left: 100%;
    }
}
h2{
    position: relative;
    margin: 0;
    font-size: 6em;
    color: white;
    z-index: 1;
    overflow: hidden;
}
h2 span{
    color: #ff2600;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    pointer-events: none;
    mix-blend-mode: screen;
}


.fade-in {
    animation: fadeIn ease 8s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }